# MongoDB Atlas Connection String (replace with your actual credentials)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxxx.mongodb.net/pharmacy?retryWrites=true&w=majority

# JWT Secret
JWT_SECRET=super-secret-admin-key-omway

# Port
PORT=3000
